body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: darkorange;
  color: indigo;
  font-family: sans-serif;
}
td.address {
  font-family: monospace;
}
td.validator {
  text-align: right;
}
td.withdrawal { /* todo: ens vs address */
  text-align: center;
}
td.selected {
  text-align: center;
}
div#minipools {
  overflow: auto;
  max-height: 32em;
}
div#summary {
  display: flex;
  flex-direction: column;
  align-items: center;
}
div#slotSelection, div#slotRangeLimits {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
div#slotRangeLimits {
  margin-bottom: 1em;
  column-gap: 1em;
}
div#slotRangeLimits input[type="number"] {
  max-width: 8em;
  color: gray;
}
input[type="number"][readonly] {
  appearance: textfield;
}
ul#entityFailures {
  list-style-type: none;
  padding-left: 0;
}
ul#entityFailures:not(:empty)::before {
  content: 'No RP validators found for:';
}
ul#entityFailures > li {
  display: inline-block;
  margin-left: 0.25em;
}
ul#entityFailures > li:not(:last-child)::after {
  content: ',';
}
div#fullRangeButtons, div#sliders {
  grid-column-end: span 2;
}
div#sliders {
  min-height: 2em;
  position: relative;
  display: flex;
  align-items: center;
}
div#sliders > input[type="range"] {
  width: 100%;
  position: absolute;
}
div#sliders > input[type="range"]:first-child {
  z-index: 1;
  height: 0;
}
div.rangeButtons, div.dirRangeButtons {
  display: flex;
  justify-content: space-around;
  margin-bottom: 0.5em;
}
div.dirRangeButtons.to {
  margin-left: 1em;
}
div.dirRangeButtons.from {
  margin-right: 1em;
}
:is(#allSummaryTable, #summaryTable) > tr > td {
  text-align: right;
}
div#footer {
  margin-top: 2em;
}
div.perfnil { background-color: darkgray; }
div.perf0   { background-color: darkred; }
div.perf10  { background-color: color-mix(in srgb, red, green 10%); }
div.perf20  { background-color: color-mix(in srgb, red, green 20%); }
div.perf30  { background-color: color-mix(in srgb, red, green 30%); }
div.perf40  { background-color: color-mix(in srgb, red, green 40%); }
div.perf50  { background-color: color-mix(in srgb, red, green 50%); }
div.perf60  { background-color: color-mix(in srgb, red, green 60%); }
div.perf70  { background-color: color-mix(in srgb, red, green 70%); }
div.perf80  { background-color: color-mix(in srgb, red, green 80%); }
div.perf90  { background-color: color-mix(in srgb, red, green 90%); }
div.perf100 { background-color: color-mix(in srgb, red, green 95%); }
div.perfall { background-color: darkgreen; }
div#details {
  display: flex;
  flex-direction: column;
  gap: 2em;
  margin-left: 2em;
  margin-right: 2em;
}
div.year {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 2em;
  margin-right: 2em;
  gap: 1em;
}
div.month {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 0.2em;
}
div.yearContainer, div.monthContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
div.yearContainer > span, div.monthContainer > span {
  text-align: center;
  width: 100%;
  padding: 0.1em;
}
div.yearContainer > span {
  font-weight: bold;
}
div.day.spacer {
  background-color: orange;
}
div.day.proposer {
  border: medium solid gold;
}
div.day.loading {
  background-color: sandybrown;
}
div.day.loading > span {
  color: firebrick;
}
div.day {
  height: 2em;
  width: 2em;
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
  border: medium solid transparent;
}
div.day > span {
  font-size: smaller;
  color: black;
  text-align: center;
  width: 100%;
}
.hidden {
  display: none;
}
