body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: darkorange;
  color: indigo;
  font-family: sans-serif;
}
td.address {
  font-family: monospace;
}
td.validator {
  text-align: right;
}
td.withdrawal { /* todo: ens vs address */
  text-align: center;
}
td.selected {
  text-align: center;
}
div#slotSelection {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
ul#entityFailures {
  list-style-type: none;
}
ul#entityFailures:not(:empty)::before {
  content: 'No RP validators found for:';
}
ul#entityFailures > li {
  display: inline-block;
  margin-left: 0.25em;
}
ul#entityFailures > li:not(:last-child)::after {
  content: ',';
}
.hidden {
  display: none;
}
